ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* h1 {background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
  url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png") 
}  */

html {background-image: url(./assets/images/balcony2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* background-attachment: fixed; */
/*   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  */
  /* height: 100%; */
  /* overflow: hidden; */
  background-size: 100% 100%;
} 

/* Write your CSS below, don't change the rules above. */
#welcome{text-align: center;
  position: fixed;
  top: 15%;
  left: 70%;
  font-size: 3rem;
  color: #FBFFB1;
  /* text-shadow: 
  0 0 7px #FBFFB1,
  0 0 10px #FBFFB1,
  0 0 21px #FBFFB1,
  0 0 82px #FBFFB1,
  0 0 102px #FBFFB1;; */
  animation: flicker 1.5s infinite alternate;
  font-family: 'Nunito', sans-serif;
}


@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #FBFFB1,
      0 0 80px #FBFFB1,
      0 0 90px #FBFFB1,
      0 0 120px #FBFFB1,
      0 0 150px #FBFFB1;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.menu-container{
  /* position: absolute; */
  /* top: 55%; */
  /* left: 25%; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.drinks{
  font-family: 'Nunito', sans-serif;
  color:antiquewhite;
  font-size: larger;
  text-align: center;
  margin: 0
}

.card{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 15%;
  flex: 1;
  max-width: 200px;
  min-width: 200px;
}

#rand{
  border: 2px solid  #bc13fe;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

#ccbb {
  background-image: url(./assets/images/doublecherry.jpg);
  background-size: cover;
}


#ocs {
  background-image: url(./assets/images/onecherry.jpg);
  background-size: cover;
}

#ws {
  background-image: url(./assets/images/lemon2.jpg);
  background-size: cover;
}

#rand {
  background-image: url(./assets/images/random.jpg);
  background-size: cover;
}

@media (max-width:600px){
  .menu-container{
    flex-direction: column;
  }
}