ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

body{background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")
} 

html {background-color: #181D31}

/* Write your CSS below, don't change the rules above. */
#welcome{text-align: center;
  color: #FBFFB1;
  /* text-shadow: 
  0 0 7px #FBFFB1,
  0 0 10px #FBFFB1,
  0 0 21px #FBFFB1,
  0 0 82px #FBFFB1,
  0 0 102px #FBFFB1;; */
  animation: flicker 7.5s infinite alternate;
  font-family: 'Nunito', cursive;
}


@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #FBFFB1,
      0 0 80px #FBFFB1,
      0 0 90px #FBFFB1;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.drinks{
  font-family: 'Nunito', sans-serif;
  color:antiquewhite
}